
.body {
    font-family: "Century Gothic", Arial, sans-serif;
}

h1{
    font-weight: bold;
    font-size: x-large;
    color: mediumseagreen;
    font-family: "Century Gothic", Arial, sans-serif;
}

p.subheading{
    font-family: "Century Gothic", Arial, sans-serif;
}

h2 {
    font-weight: bold;
    color: mediumseagreen;
    font-size: x-large;
    font-family: "Century Gothic", Arial, sans-serif;
}

h2.overview{
    font-weight: bold;
    color: mediumseagreen;
    font-size: x-large;
    font-family: "Century Gothic", Arial, sans-serif;
}

h3{
    color:dodgerblue;
    font-family: "Century Gothic", Arial, sans-serif
}

nav.overview-list{
    color: violet;
    font-family: "Century Gothic", Arial, sans-serif;
}

section.topic{
    font-family: "Century Gothic", Arial, sans-serif;
}

/*BEGIN NAVBAR*/
.navbar{
    font-family: "Century Gothic", Arial, sans-serif;
}

ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.navbar{
    float: left;
}

li.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
}

/* Navbar Hover - changes the hover color for the page selection */
li.navbar a:hover{
    background-color: #111;
    //width: 70px;
}

/* Sectionbar Hover - changes the hover color for the sections*/
li.sectionbar a:hover{
    background-color: #1aceb9;
}

/* Mark the current page as active */
.active{
    background-color: mediumseagreen;
}

/* Fixes the top navigation bar */
.fixed{
    position: sticky;
    top: 0;
}

/*NAVBAR END*/

/* Style for a cool code look */
.code {
    font-family: Consolas, Arial, sans-serif;
}

.Tomato {
    color: tomato;
}

.DodgerBlue{
    color: DodgerBlue;
}

.MediumSeaGreen{
    color: MediumSeaGreen;
}
